# {{ ansible_managed }}

# Configuration file for Keepalived.
global_defs {
    router_id {{ keepalived_global_router_id }} # string identifying the machine

{% if keepalived_global_smtp_server is defined %}
    notification_email {
        {{ keepalived_global_notification_email | default('cluster-admin@example.org') }}
    }
    notification_email_from {{ keepalived_global_notification_email_from | default('noreply@example.org') }}
    smtp_server {{ keepalived_global_smtp_server | default('smtp.example.org') }}
    smtp_connect_timeout {{ keepalived_global_smtp_connect_timeout | default('30') | int }}
{% endif %}
}

vrrp_script chk_service_{{ keepalived_script_check_process | safe | trim }} {           # Requires keepalived-1.1.13
    script "killall -0 {{ keepalived_script_check_process | trim }}"     # cheaper than pidof
    interval {{ keepalived_script_interval }}              # check every specified nr of seconds
    rise {{ keepalived_script_rise }}                      # require nr of successes for OK
{% if keepalived_script_weight is defined %}
    weight {{ keepalived_script_weight }}                  # substract/add points of priority if DOWN/UP
{% endif %}
}

vrrp_instance VI_1 {
    state {{ keepalived_node_role | upper | default('BACKUP') }}
    interface {{ keepalived_binding_interface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
{% if keepalived_node_priority is defined %}
    priority {{ keepalived_node_priority }}
{% endif %}
{% if keepalived_nopreempt is defined %}
    nopreempt   # switch MASTER only when the current MASTER fails
{% endif %}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ keepalived_virtual_ip }} dev {{ keepalived_binding_interface }} label {{ keepalived_binding_interface }}:0
    }
    track_script {
        chk_service_{{ keepalived_script_check_process | safe | trim }}
    }
{% if keepalived_tracked_interfaces is defined %}
    track_interface {   # Interfaces state we monitor, fault if down
{% for item in keepalived_tracked_interfaces %}
        {{ item }}
{% endfor %}
    }
{% endif %}
}
